#urxvt.geometry: 95x28

! special
*.foreground:   #dedbeb
*.background:   #2a2331
*.cursorColor:  #dedbeb

! black
*.color0:       #28222d
*.color8:       #302838

! red
*.color1:       #ed3f7f
*.color9:       #fb5c8e

! green
*.color2:       #a2baa8
*.color10:      #bfd1c3

! yellow
*.color3:       #eacac0
*.color11:      #f0ddd8

! blue
*.color4:       #9985d1
*.color12:      #b4a4de

! magenta
*.color5:       #e68ac1
*.color13:      #edabd2

! cyan
*.color6:       #aabae7
*.color14:      #c4d1f5

! white
*.color7:       #dedbeb
*.color15:      #edebf7

urxvt.scrollBar: false

urxvt.depth: 32

Rxvt.font: xft:bitstream vera sans mono:size=12:antialias=true
